:root {
    --color-bg: rgb(88, 88, 88);
    --color-font: white;
    --color-name-timer: rgb(192, 192, 192);
    --color-bg-side: rgb(248, 245, 229);
    --gap-size: 25px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--color-bg-side);
}

.container {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
}

.timer {
    width: 240px;
    height: 110px;
    background-color: var(--color-bg);
    color: var(--color-font);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: var(--gap-size);
    padding: var(--gap-size);
    position: relative;
    padding-bottom: 5px;
}

.timer::before {
    content: url("../images/icon-trashcan.svg");
    position: absolute;
    Top: 5px;
    Left: 5px;
    height: 10px;
    width: 10px;
    cursor: pointer;
}

.timer::after {
    content: url("../images/icon-add.svg");
    position: absolute;
    Top: 5px;
    Right: 15px;
    height: 10px;
    width: 10px;
}

.controllButton {
    width: 40px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.controllButton > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.timer-content {
    width: 150px;
    display: grid;
    grid-template: auto auto / auto auto auto;
    row-gap: 5px;
}

.timer-name {
    color: var(--color-name-timer);
    margin: 0;
    grid-row: 1 /2;
    grid-column: 1 / 4;
    text-align: center;
}

#sec, #hour, #min{
    width: 2em;
    height: 2em;
    border: none;
    background: none;
    color: var(--color-font);
}

.tag {
    color: var(--color-name-timer);
}

.tag > input {
    text-align: end;
    outline: none;
}

#secTag {
    grid-row: 2 /3;
    grid-column: 3 / 4;
}

#secTag::after{
    content: "s";
}

#minTag {
    grid-row: 2 /3;
    grid-column: 2 / 3;
}

#minTag::after {
    content:"m";
}

#hourTag {
    grid-row: 2 /3;
    grid-column: 1 / 2;
}

#hourTag::after{
    content: "h";
}

.tag > input::placeholder {
    color: var(--color-font);
}