:root {
    --color-bg: rgb(88, 88, 88);
    --color-font: white;
    --color-name-timer: rgb(192, 192, 192);
    --color-bg-side: rgb(248, 245, 229);
    --gap-size: 25px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--color-bg-side);
}

.timer {
    background-color: rgb(88, 88, 88);
    width: 250px;
    height: 80px;
    display: grid;
    grid-template: 40px 40px / 80px repeat(4, 1fr);
}
.button {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    outline: none;
}

.button > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.titel {
    color: var(--color-name-timer);
    margin: 0;
    grid-row: 1 / 2;
    grid-column: 2 / 5;
    padding-left: 20px;
}

.hour {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.hour::after {
    content: 'h';
    color: var(--color-name-timer);
}

#hour,
#min,
#sec {
    width: 60%;
    height: 100%;
    text-align: end;
    outline: none;
    border: none;
    background: none;
    color: var(--color-font);
}

#hour::placeholder,
#min::placeholder,
#sec::placeholder {
    color: var(--color-font);
}

.min {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

.min::after {
    content: 'm';
    color: var(--color-name-timer);
}
.sec {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
}

.sec::after {
    content: 's';
    color: var(--color-name-timer);
}

.trash {
    grid-row: 2 / 3;
    grid-column: 5 / 6;
    display: grid;
    place-items: center;
}
.more {
    grid-row: 1 / 2;
    grid-column: 5 / 6;
    display: grid;
    place-items: center;
}